
@{
    ViewBag.Title = "login4";
    Layout = "";
}
<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link type="text/css" href="~/Content/loginAnimate.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/loginStyle.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/Login.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <title></title>
</head>

<body style="padding:0px; margin:0px;"  >

    <section id="intro" class="intro" style="background: url('../Content/img/bg-image.jpg') no-repeat top center;">
       <h1> La la La LA</h1>
            <div class="slogan">
                <h2 style="font:#ffffff;">FR MANAGER </h2>
                <h4 style="font:#ffffff;">NETWORK AND RESOURCE MONITER</h4>
            </div>
        
            <div class="page-scroll">
              <a href="~/Account/Login" class="btn btn-circle">
                  <i class="fa fa-angle-double-down animated bounceInDown"></i>
</a>
            </div>
           
   </section>


    
</body>
</html>



