
@{
    ViewBag.Title = "Welcome";
    Layout = "";
}
<html>
<head>
    <link type="text/css" href="~/Content/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <link type="text/css" href="~/Content/loginAnimate.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/loginStyle.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/Login.css" rel="stylesheet" />
    <title></title>
</head>

<body>


    <section id="intro" class="intro" style="background: url('../Content/img/bg-image.jpg') no-repeat top center;">

        <div class="slogan">
            <h2 style="font:#ffffff;">FR MANAGER </h2>
            <h4 style="font:#ffffff;">NETWORK AND RESOURCE MONITER</h4>
        </div>
        <br /><br /><br /><br />
        <div class="page-scroll">
            <a href="/Account/login" class="btn btn-circle">
                <i class="fa fa-angle-double-down animated bounceInDown" data-wow-delay="0.4s"></i>
            </a>
        </div>

    </section>



</body>
</html>



